/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: white;
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.navbar {
  background: #ADACAC;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

.logo {
  color : #a00c07;
  font-size: 24px;
  font-weight: bold;
}

.burger {
  font-size: 28px;
  color : #a00c07;
  cursor: pointer;
  margin-right: 20px;
}

.menu-lateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background: #082640;
  transform: translateX(-100%);
  transition: transform 0.35s ease;
  padding-top: 80px;
  z-index: 20;
}

.menu-lateral.open {
  transform: translateX(0);
}



.overlay.show {
  display: block;
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-lateral li {
  margin: 20px 0;
}

.menu-lateral a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  display: block;
  transition: 0.2s;
}