/* RESET BASIQUE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #222;
    line-height: 1.6;
}

/* HEADER */
.hero {
    text-align: center;
    padding: 40px 20px;
    background: white;
}

.hero h1 {
    font-size: 32px;
    color: #082640;
    margin-bottom: 20px;
}

.hero img {
    max-width: 90%;
    height: auto;
}

/* CONTENU */
.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
    font-size: 17px;
}

/* FOOTER */
footer {
    background-color: #111;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

footer h3 {
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

footer p,
footer a {
    font-size: 15px;
    color: #ccc;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
}

.social {
    margin: 15px 0;
}

.adresse {
    margin-top: 10px;
}

.copyright {
    margin-top: 25px;
    font-size: 13px;
    opacity: 0.6;
}
